@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Body styling */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Elms Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
}
/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9a9898; 
  padding: 1em;
}

.header nav{
  display: flex;
  justify-content: space-between;
  align-items: end;
 
}
.header a{
  text-decoration: none;
}
.logo{
  color: #9a9898;
  font-size: 2em;
  font-weight: 700;
}

.header nav a {
  display: flex;
  color: #a3a3a3;
  padding-left: 3em;
  font-weight: 400;
  transition: color 0.3s ease, font-weight 0.3s ease;
}


.header nav a:hover {
  color: pink;
  font-weight: 700;
}

.header nav a#active {
  text-decoration: underline;
  text-decoration-color: pink;
  font-weight: 700;
}

.hero{
  display: flex;
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 10px;


}
.hero-right-column, .hero-left-column{
  width: 50%;
}

.hero-right-column{
  padding-right: 20%;
  
}
.hero-left-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.hero-left-column h2{
  font-size: 3rem;
  text-transform: capitalize;
  color: rgb(255, 239, 242); 
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bolder; 
}
.hero-left-column p{
  font-size:1rem;
  font-weight: bolder;
  color: rgb(255, 239, 242);
}
.hero-img{
  width: 100%;
  border-radius: 10px;
}

/* Projects */

.projects{
  margin: 5em 0;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

 h3.projects-text{
  font-size:4rem;
  color: black;

}

.projects h3{
  font-size: 3rem;
}
.project{
  width: 49%;
}

.projects .project img{
  background-color: #ededed;
  width: 100%;  
  text-align: center;
  border-radius: 0.5em;
  color: #000;
  font-size: 2em;
  
}




/* About */
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.about p{
  width: 50%;
  line-height: 2em;
}

.about img{
  width: 40%;
}



/* Resume*/
.resume{
  display: flex;
  justify-content: center;
  align-self: center;
}
.resume a{
  text-decoration: none;
}
.resume a h3{
  padding: 10px ;
  background-color: pink;
  color: #000;
}

.resume a h3:hover{
  padding: 10px ;
  background-color: #000;
  color: rgb(255, 239, 242);
  
}

/* Footer text*/

.footer-text{
  padding: 2em 0;
}
.footer-text .contact-icons img{
  width: 25px;
  height: 25px;
}

.footer-text h2{
  font-size:5rem;
  color: black;
}

.footer-text p{
  font-size:2rem;
  color: black;
  text-decoration: underline;
  text-decoration-color: rgb(255, 192, 203);
}






/* Media query */

@media (max-width: 600px) {
  .hero-left-column h2{
  font-size: 1rem;

}
.hero-left-column p{
  font-size:.5rem;
  font-weight: bolder;
  color: rgb(255, 239, 242);
}
.hero-right-column{
 
}
h3.projects-text{
  font-size: 2rem;
}
.projects{
  gap: 2px;
}
.footer-text h2{
  font-size: 3.8rem;
}
.about{
  flex-direction: column;
  width: 100%;
  
}
.about img{
  width: 50%;
}
.about p{
  width: 100%;
}
.projects h3{
  font-size: 2rem;
}
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* styles for tablets */
  .hero-left-column h2{
  font-size: 2rem;

}
.hero-left-column p{
  font-size:1rem;
  font-weight: bolder;
  color: rgb(255, 239, 242);
}
.hero-right-column{
  padding: 5px;
}
h3.projects-text{
  font-size: 3rem;
}
.projects{
  gap: 2px;
}
.footer-text h2{
  font-size: 3.8rem;
}
.about{
  flex-direction: column;
  width: 100%;
  
}
.about img{
  width: 50%;
}
.about p{
  width: 100%;
}
.projects h3{
  font-size: 2rem;
}
}
