@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Apply box-sizing to all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: pink;
  --highlight-color:#e7004c;
  --project-text-color:rgb(76, 52, 113);
}




/* Body styling */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  --bg-color: #0e0e0e;
  --text-color: #ffffff;
  --accent-color: #e7004c;
  --highlight-color:rgb(255, 192, 203);
  --project-text-color:rgb(240, 238, 243);
}

.theme-toggle{
  border: none;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
}
.menu-toggle{
  border: none;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bolder;
  display: none;
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2em;
}
/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #9a9898; 
  padding: .5rem 0;
}


.header nav{
  display: flex;
  justify-content: start;
  padding: 20px 0;
  align-items: start;
  
}
 .controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 }

.header a{
  text-decoration: none;
}
.logo{
  color:#9a9898;
  font-size: 2em;
  font-weight: 700;
}

.header nav a {
  display: flex;
  color: #a3a3a3;
  padding-left: 3em;
  font-weight: 400;
  transition: color 0.3s ease, font-weight 0.3s ease;
}


.header nav a:hover {
  color: pink;
  font-weight: 700;
}

.header nav a#active {
  text-decoration: underline;
  text-decoration-color: pink;
  font-weight: 700;
}

.hero{
  display: flex;
  width: 100%;
  color: var(--accent-color);
  background-color: var(--text-color);
  border-radius: 10px;
}

.hero-right-column, .hero-left-column{
  width: 50%;
}

.hero-right-column{
  padding-right: 20%;
  
}
.hero-left-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.hero-left-column h2{
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--accent-color); 
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bolder; 
}
.hero-left-column p{
  font-size:1rem;
  color: var(--accent-color);
}
.hero-img{
  width: 100%;
  border-radius: 10px;
}

/* Projects */

.projects{
  margin: 2em 0;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

 h3.projects-text{
  font-size:4rem;
  color: var(--text-color);

}

.projects h3{
  font-size: 3rem;
  margin: 16px 0;
}
.project{
  width: 49%;
}

.projects .project img{
  background-color: #ededed;
  width: 100%;  
  height: 100%;
  text-align: center;
  border-radius: 0.5em;
  color: var(--text-color);
  font-size: 2em;
  
}

.see-all {
  display: flex;
  justify-content: center;
   width: 100%;
  display: flex;
  padding: 20px 0;

}

.see-all a{
   color: var(--text-color);
}



/* Project 1 */

.project-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 0 40px;
  color: var(--project-text-color);
}

.project-text{
  background-color: rgb(217, 192, 255);
  padding:  30px ;
  border-radius: 15px;
  color: var(--text-color);
  gap: 3rem;
  margin: 30px 0;
 
}
.project-text h3{
  font-size: 4rem;
  margin: 0;
}

.project-text p#tools{
  font-weight: bold;
}

.project-container h6{
  font-size: 25px;
  font-weight: 400;
  margin:16px 0;
  line-height: 35px;
}

.project-container p{
  font-size: 16px;
  line-height: 35px;
}

.project-container .why-con-opp{
  display: flex;
  justify-content: space-between;
  align-items: start;
  letter-spacing: 1px;
  margin: 3.5rem 0;
  line-height: 15px;
}
.why-con-opp h6,h6{
  font-size: 20px;
}
.why-con-opp p{
  font-size: 16px;
  max-width: 350px;
}

.analysis-img{
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 1rem 0;
}
.analysis-img img#first-img{
 max-width: 300px;
  max-height: 600px;
}

.analysis-img img#close-up{
  max-width: 700px;
}

.changes{
  display: flex;
  align-items: center;
  flex-direction: column;
 padding: 2rem;
  text-align: left;
  gap: 2rem;
}

.changes img{
    max-width: 700px;
}
.changes h6{
  font-weight: bold;
  color: var(--project-text-color);
  font-size: 20px;
}
.changes p{
  font-size: 16px;
  letter-spacing: 1px;
  max-width: 850px;
  line-height: 35px;

}
span{
  font-weight: bold;
}

.project-container ul{
  list-style-type: circle;
  list-style: circle;
}

.user-personas{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  gap: 1rem;
}

.before-after{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a#view-site{
  text-align: center;
  color: var(--text-color);
  margin: 30px 0;
}

/* About */
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.about p{
  width: 50%;
  line-height: 2em;
}

.about img{
  width: 40%;
  border-radius: 10px;
}





/* Resume*/
.resume{
  display: flex;
  justify-content: center;
  align-self: center;
}
.resume a{
  text-decoration: none;
}
.resume a h3{
  padding: 10px ;
  background-color: pink;
  color: var(--text-color);
}

.resume a h3:hover{
  padding: 10px ;
  background-color: var(--text-color);
  color: #e7004c;
  
}

/* Footer text*/

.footer-text{
  padding-bottom: 2em ;
}
.footer-text .contact-icons img{
  width: 25px;
  height: 25px;
}

.footer-text .contact-icons a{
  text-decoration: none;
  
}

.footer-text h2{
  font-size:5rem;
  color: var(--text-color);
}

.footer-text a{
  font-size:2rem;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: rgb(255, 192, 203);
}

#copyright{
  color: var(--text-color);
  text-align: center;
}





/* Media query */

@media (max-width: 600px) {
  .hero-left-column h2{
  font-size: 2rem;

}
.header{
  padding: 1.5em 0;
}
.hero-left-column p{
  font-size:1rem;
  line-height: 30px;
  color: rgb(255, 239, 242);
}

h3.projects-text{
  font-size: 2rem;
}
.projects{
  gap: 2px;
}
.footer-text h2{
  font-size: 3.8rem;
}
.about{
  flex-direction: column;
  width: 100%;
  
}

.container{
  padding: 0 1em;
}
.about img{
  width: 100%;
}
.about p{
  width: 100%;
}
.projects h3{
  font-size: 2rem;
  line-height: 35px;
}
.logo{
  font-size: 1.5rem;
  text-wrap: no-wrap;
}
.nav{
    position: fixed;
    top: 0;
    right: -100%; /* hidden */
    width: 80%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: right 0.4s ease;
    z-index: 1000;
  }

  .header nav a{
    font-size: 35px;
    padding-left: 1em;
  }
  .hero{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-left-column{
    width: 100%;
    padding:20px;
  }
  .hero-right-column {
    width: 100%;
    padding: 0;
  }

  .nav.active{
    right: 0; 
    
  }
  .overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

  .overlay.show{
    opacity: 1;
    pointer-events: all;
  }
  .menu-toggle{
    display: block;
    font-size: 30px;
  }
  .theme-toggle{
    font-size: 25px;
  }
  .projects{
    flex-direction: column;
    gap: 2rem;
  }

  .project{
    width: 100%;
  }
  .project-text h3{
    font-size: 1.5rem;
    line-height: 35px;
  }
 .project-container h6 {
    font-size: 20px;
    line-height: 35px;
  }
  .project-container p, ul{
    font-size: 14px;
    line-height: 35px;
    padding: 0;
  }
  .project-container{
    padding: 0;
  }
  .project-container .why-con-opp{
    flex-direction: column;
  }
  .analysis-img{
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .analysis-img img#close-up{
    max-width: 350px;
  }
  .user-personas{
    flex-direction: column;
    gap: 2rem;
  }
  .before-after{
    flex-direction: column;
  }
  .changes{
    padding: 0;
  }
  .before-after img, .changes img{
    max-width: 350px;
  }
  .hero-img{
    min-width: 150px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* styles for tablets */
  .hero-left-column h2{
  font-size: 2rem;

}
.hero-left-column p{
  font-size:1rem;
  font-weight: bolder;
  color: rgb(255, 239, 242);
}
.hero-right-column{
  padding: 5px;
}
h3.projects-text{
  font-size: 3rem;
}
.projects{
  gap: 2px;
}
.footer-text h2{
  font-size: 3.8rem;
}
.about{
  flex-direction: column;
  width: 100%;
  
}
.about img{
  width: 50%;
}
.about p{
  width: 100%;
}
.projects h3{
  font-size: 2rem;
}
}
