@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/chunkfive-webfont.woff') format('woff'),
       url('../fonts/chunkfive-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ChunkFive', system-ui, sans-serif;
}

.hero {
  background-image: url('../images/logo.avif');
  background-size: cover;
  background-position: center;
}
.hero h1{
color: aliceblue;
font-weight: 100;
}

h1{
font-size: 5em;
font-weight: 600;
}
h2{
font-size: 5em;
font-weight: 500;
}
h3{
font-size: 4em;
font-weight: 400;
}
h4{
font-size: 3em;
font-weight: 300;
}
h5{
font-size: 2em;
font-weight: 200;
}
h6{
font-size: 1em;
font-weight: 100;
}


footer{
    background-color: brown;
}

footer p{
    color: bisque;
}